<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitWiz</title>
    <link rel="stylesheet" href="css/indexPage.css" type="text/css"/>
    <link rel="shortcut icon" href="images/icon.png" type="image/png"/>
</head>
<body>
    <div class="container" id="main-container">
        <img src="images/logo.png" type="image/png" class="main-element" id="search-logo"/>
        <input type="text" placeholder="Repository" name="query" class="main-element" id="search-bar" autofocus/>
    </div>
</body>
</html>