<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="A singular portal to search for public repos from multiple version control platforms.">
    <meta name="keywords"
        content="KSSBro, gitwiz, GitWiz, repos, Repository, search, github, gitlab, git, version control">
    <meta name="author" content="KSSBro">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1A1E22">
    <meta charset="UTF-8">
    <title>Not Found | GitWiz</title>
    <link rel="stylesheet" href="css/404Page.css" type="text/css" />
    <link rel="shortcut icon" href="images/icon.webp" type="image/webp" />
</head>

<body>
    <a href="/"><img id="logo" src="images/logo.webp" type="image/webp" /></a>
    <div id="title">
        <p>404</p>
    </div>
    <div id="subtitle">
        <p>Page not found</p>
    </div>
</body>

</html>