<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ query }} | GitWiz</title>
    <link rel="stylesheet" href="css/searchPage.css" type="text/css"/>
    <link rel="shortcut icon" href="images/icon.png" type="image/png"/>
</head>
<body>
    Search Page
</body>
</html>