<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="A singular portal to search for public repos from multiple version control platforms.">
    <meta name="keywords"
        content="Araekiel, gitwiz, GitWiz, repos, Repository, search, github, gitlab, git, version control">
    <meta name="author" content="Araekiel">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#24292E">
    <meta charset="UTF-8">
    <title>{{query}} | GitWiz</title>
    <link rel="stylesheet" href="css/search.css" type="text/css" />
    <link rel="shortcut icon" href="images/icon.webp" type="image/webp" />
</head>

<body>
    <div class="page-el container topbar-noscroll" id="topbar">
        <div class="container" id="topbar-el-container">
            <a href="/"><img class="logo topbar-el" id="topbar-logo" type="image/webp"
                    ondragstart="return false;" /></a>
            <form action="/search" method="GET" class="topbar-el" id="search-form">
                <input type="text" value="{{query}}" placeholder="Repository" name="query" class="form-el"
                    id="search-bar" />
            </form>
        </div>
    </div>
    <div class="page-el container" id="query-info-container">
        <p class="title" id="query-title">{{query}}</p>
        <p id="query-res-count"></p>
    </div>
    <div class="page-el container" id="res-container">
    </div>
    <div class="page-el" id="snackbar">
        <p id="snackbar-text">An error occured while looking for what you entered.</p>
    </div>
    <script>const query = `{{query}}`</script>
    <script src="js/utils/jquery.js"></script>
    <script src="js/search.bundled.js"></script>
</body>

</html>