body {
    margin: 0px;
    padding: 0px;
    background: #1A1E22;
    text-align: center;
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

#source-btn {
    position: fixed;
    top: 35px;
    right: 75px;
    height: 30px;
    background: none;
    color: white;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace, "Lucida Console", Monaco;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

#search-container {
    position: relative;
    height: 200px;
    width: 650px;
    margin: 250px auto;
}

#search-logo {
    height: 50px;
    float: left;
    margin-bottom: 10px;
}

#search-form {
    position: relative;
    height: auto;
    width: auto;
}

#search-bar {
    position: relative;
    margin: auto;
    width: 600px;
    height: 60px;
    background: #2F353C;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace, "Lucida Console", Monaco;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#search-bar::placeholder{ 
    color: #9F9F9F;
}

#footnote {
    position: relative;
    margin: auto;
    bottom: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace, "Lucida Console", Monaco;
    color: white;
    font-size: 16px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    body {
        text-align: center;
    }
    #source-btn {
        display: none;
    }
    
    #search-container {
        position: relative;
        height: 400px;
        width: 90%;
        margin-top: 500px;
    }
    
    #search-logo {
        height: 100px;
    }
    
    #search-bar {
        position: relative;
        width: calc(100% - 50px);
        height: 120px;
        border-radius: 10px;
        font-size: 40px;
    }
    
    #footnote {
        position: relative;
        margin: 500px auto 0px auto;
        font-size: 30px;
    }
}