@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: #F6F8FA;
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#topbar {
    position: relative;
    height: 75px;
    width: 100%;
    background: #1A1E22;
    text-align: center;
}

#topbar-element-container {
    position: relative;
    height: 100%;
    width: 850px;
    margin: auto;
}

#topbar-logo {
    position: relative;
    height: 30px;
    float: left;
    margin-top: 25px;
}

#search-bar {
    position: relative;
    float: left;
    width: 700px;
    margin-left: 10px;
    height: 45px;
    margin-top: 15px;
    background: #2F353C;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    padding-left: 15px;
    padding-right: 15px;
}